body {
  background-color: rgb(185, 228, 229);
}

.jumbotron {
  /* background-color: white; */
  background-color: transparent;
  width: 80%;
  margin: auto;
}

/* background color for the second jumbotron */
.jumbotron:not(.text-center) {
  background-color: white;
  width: 80%; 
  margin: 20px auto; /* Center the element horizontally */
}

/* Style for the headline */
.jumbotron h1, .jumbotron h3 {
  margin-top: 10px; /* Add space above the headline */
}

.jumbotron p {
  font-size: 12px; 
}

/* Target the .jumbotron class within the first row */
.row:nth-child(1) .jumbotron,
.row:nth-child(2) .jumbotron {
  padding: 20px; /* Adjust the padding as needed */

}

.container {
  border: 5px, black;
}

/* Style for banner */
.banner-container {
  text-align: center;

}

.banner-container img {
  width: 50%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

/* Style for the images container */
.image-container {
  text-align: center; /* Center the images */
  margin-top: 20px; /* Add space between the headline and images */
}

.image-container img {
  width: 7%;
  height: auto;
  margin-bottom: 20px;
}

.chart-container {
  width: 750px; 
  height: 350px;
  margin-top: 20px;
}

/* Style for the dropdown menus */
/* #selDataset1,
#selDataset2 {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
} */

/* Style for the panel */
.panel {
  border: 1px solid #337ab7; /* Add a border */
  border-radius: 4px; /* Add rounded corners */
  margin-bottom: 20px; /* Add some margin */
}

.panel-heading {
  background-color: #337ab7; /* Set the background color for the heading */
  color: white; /* Set the text color for the heading */
  padding: 10px; /* Add padding */
}

.panel-body {
  padding: 15px; /* Add padding */
}

#containerSide {
  display: flex; /* Use flexbox layout */
  height: 83vh; /* set height to % of viewport */

  padding-bottom: 20px;
}

#map {
  width: calc(75% - 50px); /* Take up 75% of the container's width minus 10 pixels */  
  flex: 3.25; /*have map take up 75% of width of the container*/
  height: 100%;
  padding-right: 20px;
}

#sidebar {
  flex: .75; /* Take up 25% of the container's width */
  height: 100%;
  overflow-y: auto;
  padding-left: 20px;
}

#markerList {
  padding: 10px;
}

.chartSelector {
  height: 100vh;;
}
.dropdown-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
  border: 10px;
  background-color: #909ccf;
 
}


.chart-container {
  width: 100%; 
  height: auto;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
  overflow: auto;

}

#stackedCharts {
  width: 100%;
  height: auto;
}

.scroll-down-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px; /* Adjust size as needed */
  height: auto;
  z-index: 9999; /* Ensure it's above other elements */
  cursor: pointer; /* Show pointer cursor on hover */
}

